---
export interface Props {
	id: string
	title: string
	description: string
	author: string
	authorLink: string
	image: string
	price: number
}

const { id, title, image, description, author, authorLink, price } = Astro.props
---

<a class='inline-block book scale-75 -ml-5 md:ml-2 md:scale-100' href={`/${id}`}>
	<div class='book-cover'>
		<img
			src={image}
			alt={title}
			class='object-cover w-full h-full rounded-lg transition-all hover:scale-105 hover:contrast-125 hover:shadow-2xl'
			style={`view-transition-name: book-${id}`}
		/>
		<div class='effect'></div>
		<div class='light'></div>
	</div>
	<div class='book-inside'></div>
</a>

<div class='bottom-0 left-0 p-2 -mt-10 md:mt-2 text-black'>
	<h2 class='text-lg font-bold hover:text-black/70'>{title}</h2>
	<p class='text-sm mt-5 italic'>{description}</p>
	<p class='text-sm text-black'>
		By
		<a class='text-black font-bold hover:underline' href={authorLink}>{author}</a>
	</p>
	<p class='text-3xl text-red-700 font-bold font-serif drop-shadow-md shadow-red-950'>
		{price}€
	</p>
</div>
